@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-brand-800;
}

@layer utilities {
  .safari-rounded-border-fix {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

.text-body {
  @apply prose p-0;
  @apply prose-p:m-0;
  @apply prose-h1:m-0 prose-h2:m-0 prose-h3:m-0 prose-h4:m-0 prose-h5:m-0 prose-h6:m-0;
  @apply prose-ul:m-0;
  @apply prose-li:m-0;
}

.text-body .ProseMirror {
  @apply p-2;
}

.ProseMirror {
  @apply outline-none;
}

.input-focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0
    var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0
    calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow),
    var(--tw-shadow);
}

.text-shadow {
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.text-shadow-md {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.text-shadow-lg {
  text-shadow: 0 15px 30px rgba(0, 0, 0, 0.11), 0 5px 15px rgba(0, 0, 0, 0.08);
}

.text-shadow-none {
  text-shadow: none;
}

.zigzag {
  --c: rgb(216 226 220 / var(--tw-bg-opacity));
  --s: 0.11em;
  padding-bottom: calc(0.1 * var(--s));
  background: conic-gradient(from 135deg at top, var(--c) 90deg, #0000 0) left 0
      bottom var(--s) / calc(2 * var(--s)) var(--s) repeat-x,
    conic-gradient(from -45deg at bottom, var(--c) 90deg, #0000 0) bottom 0 left
      var(--s) / calc(2 * var(--s)) var(--s) repeat-x;
  --_m: linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0) 50% / var(--_p, 0%) padding-box no-repeat;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  /* transition: 0.5s; */
  --_p: 100%;
  color: rgb(30 41 59 / var(--tw-text-opacity));
}
